.calculator {
  max-width: 1345px;
  margin: 213px 48px 213px 47px;
}

.calculator__header {
  max-width: 753px;
  font-size: 54px;
  line-height: 90%;
  font-weight: 900;
  font-family: 'Nekst';
  color: #111111;
}

.calculator__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(427px, 1fr));
  column-gap: 32px;
  row-gap: 44px;
  
}

.calculator__button {
  width: 426px;
  height: 68px;
  font-family: 'Nekst';
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: white;
  background-color: #FF9514;
  border: none;
  border-radius: 40px;
  margin-top: 10px;
}


