.calculator {
  max-width: 1345px;
  margin: 213px 48px 213px 47px;
}

.calculator__header {
  max-width: 753px;
  font-size: 54px;
  line-height: 90%;
  font-weight: 900;
  font-family: 'Nekst';
  color: #111111;
}

.calculator__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  column-gap: 32px;
  row-gap: 44px;
}

.calculator__button {
  max-width: 426px;
  height: 68px;
  font-family: 'Nekst';
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  color: white;
  background-color: #FF9514;
  border: none;
  border-radius: 40px;
  margin-top: 10px;
}

.calculator__button:hover {
  background-color: #111111;
  transition: ease-in .2s;
}

.calculator__button:active {
  background-color: #575757;
}

@media screen and (max-width: 1200px) {
  .calculator__container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .calculator {
    max-width: 928px;
    margin: 100px 48px 120px 48px;
  }

  .calculator__container {
    gap: 32px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .calculator {
    max-width: 696px;
    margin: 64px 36px 156px 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .calculator {
    min-width: 279px;
    margin: 44px 20px 64px 21px;
  }

  .calculator__header {
    max-width: 480px;
    font-size: 34px;
  }

  .calculator__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .calculator__button {
    height: 60px;
    font-size: 22px;
    line-height: 20px;
    margin-top: 3px;
  }
}


